@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway';
  background: -webkit-gradient(linear, left top, right top, from(#ef576b), to(#647cf7));
  background: linear-gradient(90deg, #ef576b 0%, #647cf7 100%);
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.header {
  padding-top: 40px;
  color: #372743;
  font-size: 78px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.buttons {
  padding-top: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.buttons_redaction {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.buttons_redaction.active {
  opacity: 1;
  visibility: visible;
}

.buttons_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 360px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.buttons_main.hidden {
  opacity: 0;
  visibility: hidden;
}

.buttons_item {
  border: none;
  outline: none;
  padding: 5px 20px;
  font-size: 20px;
  background-color: #BDA8CD;
  color: #444;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0 0 12px #6E4D86;
          box-shadow: 0 0 12px #6E4D86;
}

.buttons_item + .buttons_item {
  margin-left: 20px;
}

.buttons_item:hover {
  background-color: #6E4D86;
  color: #fff;
}

#textarea {
  margin-top: 40px;
  resize: vertical;
  outline: none;
  padding: 7px;
  border: 2px solid #583E6B;
  border-radius: 8px;
  background-color: #CCBBD8;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.tehidden {
  opacity: 0;
  visibility: hidden;
}

.output {
  position: relative;
}

.output_word {
  position: absolute;
  top: 40px;
  width: 100%;
  height: auto;
  background-color: #6E4D86;
  border-radius: 20px;
  padding: 10px;
  color: #222;
  cursor: text;
  resize: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  opacity: 0;
  visibility: hidden;
}

.output_word.active {
  opacity: 1;
  visibility: visible;
}

#in {
  max-width: 100%;
  word-break: break-all;
}

.underline {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */