@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway';
    background: linear-gradient(90deg, hsla(352, 83%, 64%, 1) 0%, hsla(230, 90%, 68%, 1) 100%);
    overflow-x: hidden;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
}
.header{
    padding-top: 40px;
    color: #372743;
    font-size: 78px;
    font-weight: 600;
    user-select: none;
}
.buttons{
    padding-top: 40px;
    user-select: none;
    &_item{
        border: none;
        outline: none;
        padding: 5px 20px;
        font-size: 20px;
        background-color: #BDA8CD;
        color: #444;
        border-radius: 8px;
        cursor: pointer;
        transition: .3s ease all;
        box-shadow:0 0 12px #6E4D86;
        & + &{
            margin-left: 20px;
        }
        &:hover{
            background-color: #6E4D86;
            color: #fff;
        }
    }
}
#textarea{
    margin-top: 40px;
    resize: vertical;
    outline: none;
    padding: 7px;
    border: 2px solid #583E6B;
    border-radius: 8px;
    background-color: #CCBBD8;
}
.output{
    position: absolute;
    top: 50px;
    left: 50px;
    // &_word{
    //     background-color: #372743;
    //     border-top-right-radius: 50%;
    //     border-bottom-right-radius: 50%;
    //     border-top-left-radius: 50%;
    //     border-bottom-left-radius: 50%;
    //     position: relative;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }
}
#out{
    width: 300px;
    height: auto;
    border: none;
    outline: none;
    background-color: #6E4D86;
    border-radius: 20px;
    padding: 20px;
    color: #222;
    cursor: text;
    resize: vertical;
    display: flex;
    flex-wrap: wrap;
}
#in{
    max-width: 290px;
    word-break: break-all;
}
.underline{
    text-decoration: underline;
}