@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway';
  background: -webkit-gradient(linear, left top, right top, from(#ef576b), to(#647cf7));
  background: linear-gradient(90deg, #ef576b 0%, #647cf7 100%);
  overflow-x: hidden;
}

svg {
  width: 22px;
  height: 22px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.group_item {
  width: 25px;
  height: 25px;
  background-color: #d4d4d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  border: solid 3px #d4d4d4;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  color: #333;
  background-repeat: no-repeat;
  background-size: cover;
}

.group_item:hover {
  background-color: #fff;
  border: solid 3px #fff;
}

.group_item + .group_item {
  margin-left: 3px;
}

.group_item.active {
  background-color: #fff;
  border: solid 3px #fff;
}

.codearea {
  position: absolute;
  outline: none;
  background-color: #000;
  color: #aaa;
  border-radius: 6px;
  padding: 10px;
  border: solid 2px #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s ease opacity;
  transition: .3s ease opacity;
}

.codearea.active {
  opacity: 1;
  visibility: visible;
}

.createlink {
  position: absolute;
  outline: none;
  background-color: #444;
  color: #ccc;
  border-radius: 6px;
  padding: 10px;
  border: solid 2px #222;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s ease opacity;
  transition: .3s ease opacity;
}

.createlink::before {
  content: 'Create';
  position: absolute;
  top: 5px;
  right: 5px;
}

.createlink.active {
  visibility: visible;
  opacity: 1;
}

.editor {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}

.editor_input {
  width: 100%;
  overflow-x: hidden;
  outline: none;
  background-color: #e7e7e7;
  border: solid 2px #424141;
  padding: 10px;
  border-radius: 6px;
  min-height: 300px;
  word-wrap: break-word;
  visibility: visible;
  opacity: 1;
  -webkit-transition: .3s ease opacity;
  transition: .3s ease opacity;
}

.editor_input.hidden {
  visibility: hidden;
  opacity: 0;
}

.bold {
  background-image: url(./img/bold.svg);
}

.italic {
  background-image: url(./img/italic.svg);
}

.link {
  background-image: url(./img/link.svg);
}

.code {
  background-image: url(./img/code.svg);
}

.code {
  background-image: url(./img/code.svg);
}

.undo {
  background-image: url(./img/undo.svg);
}

.delete {
  background-image: url(./img/delete.svg);
}

.line {
  text-decoration: line-through;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */