@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway';
    background: linear-gradient(90deg, hsla(352, 83%, 64%, 1) 0%, hsla(230, 90%, 68%, 1) 100%);
    overflow-x: hidden;
}
svg{
    width: 22px;
    height: 22px;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.group{
    display: flex;
    margin-bottom: 5px;
    user-select: none;
    &_item{
        width: 25px;
        height: 25px;
        background-color: rgb(212, 212, 212);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        border: solid 3px rgb(212, 212, 212);
        font-weight: 500;
        cursor: pointer;
        transition: .3s ;
        text-decoration: none;
        color: #333;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover{
            background-color: #fff;
            border: solid 3px #fff;
        }
        & + &{
            margin-left: 4px;
        }
    }
}
.group_item.active{
    background-color: #fff;
    border: solid 3px #fff;
}
.codearea{
    position: absolute;
    outline: none;
    background-color: #000;
    color: #aaa;
    border-radius: 6px;
    padding: 10px;
    border:solid 2px #fff;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease opacity;
}
.codearea.active{
    opacity: 1;
    visibility: visible;
}
.createlink{
    position: absolute;
    outline: none;
    background-color: #444;
    color: #ccc;
    border-radius: 6px;
    padding: 10px;
    border:solid 2px #222;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease opacity;
    &::before{
        content: 'Create';
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
.createlink.active{
    visibility: visible;
    opacity: 1;
}
.editor{
    width: 50%;
    margin: 0 auto;
    position: relative;
    &_input{
        width: 100%;
        overflow-x: hidden;
        outline: none;
        background-color: rgb(231, 231, 231);
        border:solid 2px rgb(66, 65, 65);
        padding: 10px;
        border-radius: 6px;
        min-height: 300px;
        word-wrap: break-word;
        visibility: visible;
        opacity: 1;
        transition: .3s ease opacity;
    }
}
.editor_input.hidden{
    visibility: hidden;
    opacity: 0;
}
.bold{
    background-image: url(./img/bold.svg); 
}
.italic{
    background-image: url(./img/italic.svg);
}
.link{
    background-image: url(./img/link.svg); 
}
.code{
    background-image: url(./img/code.svg);
}
.undo{
    background-image: url(./img/undo.svg);
}
.delete{
    background-image: url(./img/delete.svg);
}
.line{
    text-decoration: line-through;
    font-weight: 500;
}
@media (max-width:850px) {
    .editor{
        width: 60%;
    }
}
@media (max-width:750px) {
    .editor{
        width: 65%;
    }
}
@media (max-width:650px) {
    .editor{
        width: 70%;
    }
}
@media (max-width:550px) {
    .editor{
        width: 75%;
    }
}
@media (max-width:450px) {
    .editor{
        width: 80%;
    }
}